:root {
  --color-black: #000000;
  --color-white: #FFFFFF;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: var(--color-black);
  font-family: 'Open Sans', sans-serif;
}


/* Header Design  */
header {
  padding: 16px;
}

header nav {
  display: flex;
  justify-content: space-between;
}

.logo,
.sound {
  width: 44px;
  height: 44px;
}

.logo img,
.sound svg {
  width: 44px;
  height: 100%;
}

/* Main Design  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  margin-top: 32px;
}

.board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  background-color: var(--color-white);
}

.board>div {
  height: 200px;
  width: 200px;
  background-color: var(--color-black);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130px;
}

.box:hover {
  cursor: pointer;
}

.box:focus-visible {
  outline: 0;
  background-color: #333333;
}

.scores {
  display: flex;
  column-gap: 64px;
  align-items: center;
  text-transform: uppercase;
}

.p1,
.p2,
.tie-text {
  font-size: 24px;
}

.scores>p {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.score {
  font-size: 48px;
  font-weight: 800;
}

.swap>svg {
  height: 36px;
  width: 36px;
}

.multi-player {
  margin-top: 0;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: 4px;
}

.multi-player span {
  font-size: 16px;
}


/* Responsive Design  */
@media screen and (max-width: 620px) {
  .board>div {
    width: 120px;
    height: 120px;
  }

  .box {
    font-size: 80px;
  }

  .scores {
    column-gap: 24px;
  }

  .p1,
  .p2,
  .tie-text {
    font-size: 18px;
  }
}